*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #121213;
}

.container{
    --width: 375;
    --height: 375;
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 5px;
    position: relative;

}

.letter{  
    --delaySpin: 0;
    width: 70px;
    height: 70px;
    border: grey 1px solid;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;


}
.letter.spin{
    /* spin */
    transition: transform 1s ease calc(var(--delaySpin) * 1s);
    transform: rotateY(360deg);
}

.letter.yellow{background-color: rgb(194, 194, 5);}
.letter.green{background-color: rgb(15, 255, 67);}
.letter.active{
    animation: scale 0.4s ease;
}


.btn{
    height: 50px; 
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
    background: transparent;
    border: 2px rgb(75, 68, 68) solid;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.btn:active{
    transform: scale(0.97);
}


div.sconfitta.visibile,
div.vittoria.visibile{
    width: 500px;
    height: 300px;
    background-color: rgb(10, 10, 10, 0.8);
    border-radius: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-size: 90px;
    text-align: center;
    line-height: 300px;
    z-index: 10;
}

.btn:not(.visibile),
div.vittoria:not(.visibile),
div.sconfitta:not(.visibile){
    display:none;
}


@keyframes scale{
  0%   {transform: scale(1)}
  25%  {transform: scale(1.2)}
  50%  {transform: scale(1.2)}
  75%  {transform: scale(0.9)}
  100% {transform: scale(1)}
}